
nav ul a,
nav  {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#zoom {
  /* padding: 50px; */
  /* background-color: green; */
  transition: transform .2s;
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

#zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.projects{
  border: 1px solid black;
}
#slide {
  position: absolute;
  left: -100px;
  /* width: 100px; */
  /* height: 100px; */
  /* background: blue; */
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px; 
  /* border: 1px solid black; */
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.welcome{
  color: white;
}

